<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户注册</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>

    <div class="content" style="margin-top: 1%;">
        <h2> 用户注册</h2>
        <form action="/users/regist" method="post">
            用户名： <input type="text" class="username" name="username" placeholder="请输入用户名">
            <br>
            密&emsp;码： <input type="password" class="password" name="pwd" placeholder="请输入密码">
            <br>
            确认密码：<input type="password" class="passwordend" name="pwdend" placeholder="请再次输入密码">
            <br>
            昵&emsp;称： <input type="text" class="nickname" name="nickname" placeholder="昵称">
            <br>
            年&emsp;龄： <input type="text" class="age" name="age" placeholder="请输入年龄">
            <div class="adminStrat">
                性&emsp;别 ：<input type="radio" class="age" name="sex" value="男"> 男
                <input type="radio" class="age" name="sex" value="女"> 女
                &emsp;
                是否是管理员：<input type="radio" value="1" name="isadmin">yes <input type="radio" name="isadmin" value="0">no
            </div>
            <div class="button-row">
                <input type="submit" class="sign-in" value="注册">
            </div>
            <a href="/login.html" class="clear" style="float: right;color: #fff; padding-right: 20px;">登录</a>
        </form>
    </div>
</body>

</html>

<script src="js/jquery.min.js"></script>
<!-- <script>
    $(".sign-in").click(function () {
        var username = $(".username").val();
        // var phone = $(".phone").val();
        var password = $(".password").val();
        if (username == "USERNAME") {
            alert("请输入用户名！");
        } else if (password == "PASSWORD") {
            alert("请输入密码！");
        }
        var data = {
            "uname": username,
            "upwd": password
        }
        $.ajax({
            url: 'regist',
            type: 'post',
            contentType: "application/json; charset=UTF-8",
            data: data,
            success: function (data, status) {
                location.href = "login";
                // console.log(status);
                // if (status == "status") {

                // }
            },
            error: function (data, err) {
                location.href = "regist.html";
            }
        })
    })
</script> -->