<div class="foot">

    <p><span>Copyright&nbsp;©&nbsp;2004&nbsp;-&nbsp;2018&nbsp;&nbsp;信息管理系统&nbsp;版权所有</span><span class="mod_copyright_split">|</span><span>消费者维权热线：4006067733</span><span
            class="mod_copyright_split">|</span><span>(京)网械平台备字(2018)第00003号</span><span class="mod_copyright_split">|</span>
    </p>

</div>