<div class="head">
    <div class="left">
        <h1 class="logo"> <a href="/">xxx后台管理系统</a></h1>
    </div>
    <div class="right">
        <p>欢迎您-xx-(管理员)</p>
        <button class="btn btn-primary">退出</button>

    </div>
</div>